 

<div *ngIf="movie" class='movie' [routerLink]="'/' + movie.title"  >
    <img [src]="movie.posterUrl" 
    onError="this.onError=null;
     this.src='https://placeimg.com/300/400/animals'"
     >
     <!-- this.src='https://placeimg.com/300/400/animals'"> -->

     <div class="movies-layout">
      <h3>{{movie.year}}</h3>
      <p class="border-movies-buttons" ><strong>Genres: </strong>
        {{movie.genres}}
      </p>
       <div class="movies-detail">
        <p><strong>Director: </strong>
          {{movie.director}}
        </p>
        <p><strong>Actors: </strong>
          {{movie.actors}}
        </p>
       
         <div class="movies-section">
          <p><strong>Plot: </strong>
            {{movie.plot}}
          </p>
         </div>
       </div>
     </div>
    
    
   
  </div> 
